<table class="table table-dark table-striped w-50 mx-auto">
    <thead>
        <tr>
            <td>ID</td>
            <td>TITULO</td>
            <td>AUTOR</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let libro of listaLibro">
            <td>{{libro.id}}</td>
            <td>{{libro.titulo}}</td>
            <td>{{libro.autor}}</td>
            <td><button class="btn btn-danger" (click)="borrar(libro)">BORRAR</button></td>
        </tr>
    </tbody>
</table>